/*  */
.title {
	margin-top: 15px;
	text-align: center;
}

.title span {
	margin: 0 5px;
	font-weight: bold;
	font-size: 18px;
	color: #333333;
}

.title img {
	width: 20px;
	height: 18px;
}

.info {
	width: 200px;
	height: 30px;
	margin: 15px auto;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	background: linear-gradient(269deg, rgba(20, 32, 70, 0) 0%, rgba(193, 194, 199, 0.19) 49%, rgba(4, 6, 14, 0) 100%);
}

.turn {
	margin-bottom: 20px;
	text-align: center;
	font-size: 12px;
	color: #999;
}

/*  */
.list {
	padding: 0 15px;
}

.item {
	padding: 0 20px 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #DDDDDD;
}

.item-detail {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item-index {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 96px;
	height: 74px;
	text-align: center;
	background: url(../img/history.png) center / 100% 100% no-repeat;
	transform: translateY(-8px);
}

.item-index .index-turn {
	font-size: 14px;
	color: #354888;
}


.item-index .index-number {
	font-size: 12px;
	color: #fff;
}

.item-number {
	display: flex;
}

.item-number span {
	width: 24px;
	height: 30px;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF;
	background: url(../img/number.png) center / 100% no-repeat;
}

.item-number span+span {
	margin-left: 10px;
}

.item .content {
	padding: 20px 0 0;
	word-break: break-all;
	text-align: center;
	font-size: 12px;
	color: #333333;
	border-top: 1px solid #EEEEEE;
}

.back {
	text-align: center;
}

.back a {
	display: inline-block;
	min-width: 80px;
	height: 30px;
	padding: 0 5px;
	margin: 30px 0;
	text-decoration: none;
	font-size: 12px;
	line-height: 30px;
	color: #999999;
	border: 1px solid #EEEEEE;
}
