<!DOCTYPE html>
<html>

<head>
	<!-- <meta http-equiv="Pragma" content="no-cache" /> -->
	<meta charset="UTF-8" />
	<meta name="Keywords" content="" />
	<meta name="Description" content="" />
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>ETH Winner</title>
	<link rel="stylesheet" type="text/css" href="css/base.css" />
	<link rel="stylesheet" type="text/css" href="css/profit.css" />
</head>

<body>
	<div id="page">
		<header>
			<a href="index.html"><img src="img/logo.png" class="logo"></a>
			<button class="switch" @click="visibleLang=true">
				<svg class="icon" aria-hidden="true">
					<use xlink:href="#icon-switch-black"></use>
				</svg>
				<span id="lang">{{currentLang.label}}</span>
			</button>
			<div class="locale-wrapper" v-show="visibleLang" @click="visibleLang=false">
				<div class="locale">
					<div class="locale-item" v-for="item in lang" @click="getLang(item.value)">
						<svg class="icon" aria-hidden="true">
							<use :xlink:href="item.icon"></use>
						</svg>
						<span>{{item.label}}</span>
					</div>
				</div>
			</div>
		</header>
		<div class="list">
			<div class="item" v-for="item in profit">
				<div class="date">{{item.time}}</div>
				<div class="content">
					<div class="label">{{translate.sum_money}}</div>
					<div class="value">{{item.num}}</div>
				</div>
			</div>
		</div>
		<div class="back">
			<a href="index.html">{{translate.back_index}}</a>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://at.alicdn.com/t/font_1325401_e63ix6o7oyi.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	window.addEventListener('load', async () => {
		new Vue({
			el: "#page",
			data: {
				currentLang: {
					label: '繁体中文',
					value: 'zh-tw'
				},
				lang: [{
					label: '繁体中文',
					value: 'zh-tw',
					icon: '#icon-img_zhongg',
					url: 'lang/zh-tw.json'
				}, {
					label: '日本语',
					value: 'riyu',
					icon: '#icon-img_rib',
					url: 'lang/riyu.json'
				}, {
					label: '한국어',
					value: 'hanyu',
					icon: '#icon-img_hang',
					url: 'lang/hanyu.json'
				}, {
					label: 'English',
					value: 'en-us',
					icon: '#icon-img_meig',
					url: 'lang/en-us.json'
				}, {
					label: 'Français',
					value: 'fayu',
					icon: '#icon-img_fag',
					url: 'lang/fayu.json'
				}, {
					label: 'русский',
					value: 'eluosi',
					icon: '#icon-img_els',
					url: 'lang/eluosi.json'
				}],
				profit: [],
				translate: {},
				visibleLang: false,
			},
			methods: {
				async getLang(lang) {
					window.localStorage.setItem('lang', lang)
					let item = this.lang.find((item) => {
						return item.value == lang
					})
					if (!item) {
						item = this.lang[0]
					}
					this.currentLang.label = item.label
					this.currentLang.value = item.value
					let response = await fetch(item.url)
					let responseJson = await response.json()
					this.translate = responseJson
					this.initApp()
				},
				async post(url, param) {
					param.lang = this.currentLang.value
					let bodyArry = Object.keys(param).map((element, index) => {
						return `${element}=${param[element]}`
					})
					let body = bodyArry.join("&")
					let response = await fetch(url, {
						method: 'POST',
						headers: {
							"content-type": "application/x-www-form-urlencoded"
						},
						body
					})
					let responseJson = await response.json()
					return responseJson
				},
				getQuery() {
					let arr = window.location.search.substring(1).split('&')
					let obj = {}
					arr.forEach((item) => {
						let keyValue = item.split('=')
						Object.assign(obj, {
							[keyValue[0]]: decodeURI(keyValue[1])
						})
					})
					return obj
				},
				async getProfit() {
					let url = 'https://ethwinner.pro1.lnkj1.com/Api/Index/userDayWin'
					let param = {}
					let response = await this.post(url, param)
					this.profit = response.data
				},
				async login() {
					let url = 'https://ethwinner.pro1.lnkj1.com/Api/Index/doLogin'
					let param = {
						address: web3.eth.defaultAccount,
						parent_address: this.getQuery().r
					}
					let response = await this.post(url, param)
					this.user_id = response.data.user_id
					this.getProfit()
				},
				async initApp() {
					if (window.ethereum) {
						window.web3 = new Web3(ethereum);
						try {
							await ethereum.enable();
							web3.eth.defaultAccount = web3.eth.accounts[0]
							this.login()
						} catch (error) {

						}
					} else if (window.web3) {

					}
				}
			},
			created() {
				let lang = window.localStorage.getItem('lang')
				if (!lang) {
					lang = this.getQuery().lang
				}
				if (lang) {
					this.getLang(lang)
				} else {
					this.getLang('zh-tw')
				}
			}
		})
	})
</script>

</html>